name: Weibo_schedule

on:
  repository_dispatch:
  workflow_dispatch:
  
  schedule:
    #- cron: "0 * * * *"      ##每小时整点执行一次
    - cron: "*/10 * * * *"   ##每 10 分钟执行一次

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout Git Source
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v2
        #uses: actions/setup-node@v6
        with:
          node-version: "15"
          #node-version: "22"
          #node-version: "24"

      - name: Install Dependencies
        run: yarn install

      - name: Run Command
        run: yarn start
        env:
          TOKEN: ${{ secrets.TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}

      - name: Commit Files
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git add .
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "WeiboHotSearch real-time update"
          fi
          exit 0


      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
